

.mainNav li {
  display: flex;
  margin-right: 15px;
  background-color: #f5f7fa;
  justify-content: space-between;
}

.mainNav .control {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.mainNav .account {
  padding-right: 30px;
}

.mainNav a {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}