#timePieChart {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;  /* center it */
}

body {
  background-color: #f5f7fa;
  font-size: Arial, sans-serif;
}

h1 {
  font-size: Arial, sans-serif;
}

html {
  overflow-y: scroll;
}
