#timePieChart {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;  /* center it */
}

body {
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

html {
  overflow-y: scroll;
}

.report-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
