body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
}

.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 3;
  padding: 30px;
  overflow-y: auto;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background: #ffffff;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}

.add-course {
  display: flex;
  gap: 20px;
}

.add-course, .add-task {
  margin-bottom: 20px;
}

input,
select {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: inherit;
  background-color: #fff;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4a90e2;
}


button {
  padding: 8px 12px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 15px;
}

.course-card {
  background: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.course-card:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

#taskList li, 
#sortedTaskList li {
  position: relative;
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.task-date {
  font-size: 0.85em;
  color: #555;
}

.task-course {
  font-size: 0.8em;
  color: #777;
}

.back-btn {
  margin-top: 15px;
}

#courseColorInput {
  height: 36px;
  width: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.delete-course-btn {
  position: absolute;
  border: none;
  background-color: white;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
}

.delete-course-btn:hover {
  background-color: rgb(255, 0, 0, 0.8);
}

.show-all-tasks-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.show-all-tasks-link:hover {
  color: #4a90e2;
}

.delete-task-btn {
  position: absolute;
  border: none;
  background-color: white;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
}

.delete-task-btn:hover {
  background-color: rgb(255, 0, 0, 0.8);
}